.screen {
  height: 40%;
  padding-top: 25%;
  padding-left: 16px;
  padding-right: 16px;

  p {
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    text-align: right;
  }
}

.buttons {
  height: 60%;
}

.content {
  height: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 10px 20px;

  &__1 {
    background-color: lightgray;
  }

  &__2 {
    background-color: orange;
    color: white;
  }

  &__3 {
    background-color: black;
    color: white;
  }

  &__content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 40px;
  }
}
